.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    background-image: url('https://cdn.wallpapersafari.com/58/50/dncmwR.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
.menu {
    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__listitem {
        align-items: center;
    }
    &__link {
        color: #00548b;
        background-color: transparent;
        text-decoration: none;
        padding: 10px 30px;
        font-size: 1em;
    }
    &__link:hover {
        color: white;
        background-color: #00548b;
        text-decoration: underline white;
    }
}
.logo {
    &__img {
        display: block;
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }
}
