.element1 {
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url('https://cdn.wallpapersafari.com/58/50/dncmwR.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4em;
    border: none;
    &__text {
        color: black;
    }
}

@media (max-width: 700px) {
    .element1 {
        justify-content: center;
        align-items: center;
    }
}